table,
td,
th {
	border: 1px solid #000000;
	height: 10em;
	width: 10em;
}

table {
	cursor: pointer;
	width: 100%;
	border-collapse: collapse;
}

.header{
		font-size: 36px;
		text-align: center;
}
td:hover{
	border:4px solid !important;
}


	.image{
		height: 10em !important;
		width: 10em !important;
	}
.bg-red {
	padding: 0.5em;
	border: 5px solid red;
}

.bg-blue {
	padding: 0.5em;
	border: 5px solid blue;
}


.block {
	position: relative;
	
	background: linear-gradient(0deg, #ffffff, #f7f7f3);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}